* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: red 1px solid;
}

body {
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: #1f2937;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
}



.logo {
    margin-bottom: 24px;
    color: #f9faf8;
    display: flex;


}

.header-links {
    font-size: 18px;
    color: #e5e7e5;
    display: flex;
    gap: 18px;
    margin-bottom: 24px;

}

.content-container {
    display: flex;
    text-align: justify;
}

.content h1 {
    margin-left: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.content p {
    margin-left: 48px;
    color: #e5e7e5;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: white;
    border-style: none;
    padding: 12px 24px;
    border-radius: 6px;
    margin-left: 48px;
}